<section>
<table class="facts" border="1" style="font-family: helvetica; border-collapse: collapse; text-align: center">
<thead>
  <tr>
    <th colspan="2">
      What you need to know
    </th>
</thead>
<tr>
  <td>
    Born:
  </td>
  <td>
    USA
  </td>
</tr>
<tr>
  <td >
    Age:
  </td>
  <td>
    25
  </td>
</tr>
<tr>
  <td >
    Fav Food:
  </td>
  <td>
    Tacos
  </td>
</tr>
<tr>
<td>
  Pet:
</td>
<td>
  Guinea Pig
</td>
</tr>
</table>
</section>

<section>
  <h2>FYI</h2>
    <p>
      Just so you know, my favorite words are <% @funny_words.each do |word| %>
      <%= word %>!
      <% end %>
    </p>
</section>
