<section class="subtitle">
  <h1 class="h1Title">My Blog*:</h1>
  <p>
    Except not really because I hate blogs and can't maintain them.
  </p>
</section>


<section>
  <h2>Things I ate today</h2>
  <h3>10.25.2015</h3>
  <ol>
    <li>
      Breakfast Taco
    </li>
    <li>
      Bean Taco (2)
    </li>
    <li>
      Tofu Tacos (with extra cilantro & spice)
    </li>
  </ol>
</section>

<section>
  <h2>How I found my son</h2>
  <h3>12.5.2002</h3>
  <img class="scuba" src="clur.jpg" alt = "Claire"/>

  <p class="blog">
    Life along the Great Barrier Reef is full of dangers when you are a tiny clown fish like me. There I was, a single parent determined to protect my only son Nemo, and there are constant fears and anxieties. When, on his first day of school, Nemo defies me  and swam off alone to investigate a boat, he was suddenly scooped up by a diver as I helplessly watched.
  <br><br>
    I desperately swam off in search of my son. As I passed a school of fish I bumped into Dory, an agreeable blue tang with severe short-term memory loss, who offered to help. She was tiresome but some excellent comic relief. Together we set out on an impossible mission, finding ourselves in troubled waters and contending with such hazards as sharks, deadly angler fishes and a forest of jellyfish.
  <br><br>
    Meanwhile, in a dentist's office overlooking Sydney Harbor, Nemo landed in a fish tank that is home to a colorful group of characters who want to initiate him into their gang. When word of Marlin and Dory's ocean adventures gets back to Nemo, he was so thrilled to learn of my search for him that he became motivated to move forward with a daring escape plan of his own.
  </p>

  <p>
    Watch my vlog about the whole experience!
    <br>
    <iframe width="420" height="315" src="https://www.youtube.com/embed/wZdpNglLbt8?&showinfo=0" frameborder="0" allowfullscreen></iframe>
  </p>
</section>

<section>
  <h2>What is this?!</h2>
  <h3>6.29.1990</h3>
  <p>
    AHHHHHHHHHHH what is this world?! It's so bright! Why is everyone congratulating my carrier? I was so happy for 9 months why did everything have to change? I'm hungry! Wahh!
  </p>
</section>

     <p>
       If you blog too much, you never have time to hang out with me.
     </p>
