    <section class="main">
      <h2>Welcome to the world of Claire!</h2>
      <p>
        Feel free to poke around!
      </p>
      <img class="intro-pic" src="giphy.gif"/>
      <p>
        But if you're looking for cheap jewelry and got lost on the this page, try clicking <a href = "http://www.claires.com/us/"><img class="claire" src="http://media.claires.com/pws/client/images/logo.png" alt = "Claire's, the store" width = "50" height = "20"></a> instead.
      </p>
    </section>
