<html>
  <head>
    <meta charset="utf-8">
    <title>Claire Shekta | Extraordinaire</title>
    <link href="./css/main.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/jpg" href="fluffy_guineapig.jpg" />
  </head>

  <body>
    <header>
      <h1>Claire's Magnificent Site</h1>
      <h2>(of badassery)</h4>
      <nav>
        <ul>
          <li><a href="./index.erb">Home</a></li>
          <li><a href="./blog.erb">Blog</a></li>
          <li><a href="./projects.erb">Projects</a></li>
          <li><a href="./about.erb">About</a></li>
        </ul>
      </nav>
    </header>
      <%= yield %>
    <footer>
      <% @quotes = ["When I die, I want to go peacefully like my grandfather did–in his sleep. Not yelling and screaming like the passengers in his car. -Bob Monkhouse", "I have six locks on my door all in a row. When I go out, I lock every other one. I figure no matter how long somebody stands there picking the locks, they are always locking three. - Elayne Boosler", "Drawing on my fine command of the language, I said nothing. -Robert Benchley"] %>
      <p>
        <%= @quotes.sample %>
      </p>
      <a href="http://facebook.com/ClaireShekta"><img src="facebook.jpg" alt="Facebook Logo" class="social-icon"></a>
      <a href="https://github.com/CShekta"><img src="github.jpg" alt="Github Logo" class="social-icon"></a>
      <p>
        &copy; <%= Date.today.strftime("%Y") %> Claire Schechter.
      </p>
    </footer>
  </body>
</html>
