<section class="subtitle">
  <h1 class="h1Title">Projects:</h1>
  <p>
    These may or may not be true.
  </p>
  <h2>Look at all the things I've done!</h2>
</section>

<section>
  <h3>From Ada Class</h3>
  <ol>
    <li>
      <a href="https://github.com/CShekta/loquacious-quack">Loquacious-quack</a>
    </li>
    <li>
      <a href="https://github.com/CShekta/Solar-System">Solar-System</a>
    </li>
    <li>
      <a href="https://github.com/CShekta/Word-Guess">Word-Guess</a>
    </li>
    <li>
      <a href="https://github.com/CShekta/BankAccounts">BankAccounts</a>
    </li>
    <li>
      <a href="https://github.com/noglows/Scrabble">Scrabble</a>
    </li>
    <li>
      <a href="https://github.com/CShekta/FarMar">FarMar</a>
    </li>
  </ol>
</section>
